@import url(/css/fonts.css);
a:link, a:visited { text-decoration:none; }
a:hover { cursor: pointer; text-decoration: none; }
body {
    background: #313131;
    cursor: default;
    color: #bbbbbb;
    font-family: 'Meslo', 'Lucida Console', 'Courier New', monospace;
    font-size: 12pt;
    margin: 20px;
}
code,pre { font-family: 'Meslo', 'Lucida Console', 'Courier New', monospace; }
code { white-space: nowrap; }
hr {
    color: #696969;
    background-color: #696969;
    height: 1px;
    width: 95%;
    border: solid 0px #131313;
    margin-left: 0;
}
img { border: 0; }
span.bg { color: #131313; }
span.black { color: #222946; }
span.white { color: #dbdde4; }
span.darkblue { color: #3a57d7; }
span.darkcyan { color: #258f8f; }
span.darkgreen { color: #1aaa13; }
span.darkgrey { color: #8c8b89; }
span.darkmagenta { color: #be007f; }
span.darkred { color: #be1919; }
span.darkyellow { color: #ffaa3e; }
span.lightblue { color: #507cff; }
span.lightcyan { color: #4dc5dc; }
span.lightgreen { color: #5dce33; }
span.lightgrey { color: #aeaeae; }
span.lightmagenta { color: #e671d3; }
span.lightred { color: #dc2f32; }
span.lightyellow { color: #fadd2d; }

#term {
	display: block;
	padding: 10px;
	width: 800px;
	min-height: 550px;
	background-color: #090c19;
	border: solid 4px #222946;
    margin: 0 auto;
}
#wrap { text-indent: -4.3em; padding-left: 4.3em; }
#help {
    width: 650px;
    text-align: center;
    font-size: 10pt;
    color: #000;
    margin: 4px auto;
}
#help a { color: #33ccff; }
@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
#cursor {
    color: #c0c0c0;
    position: relative;
    top: -2px;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}
#statusbar {
    bottom: 10px;
    left: 15px;
    color: #ffaa3e;
    cursor: default;
    font-size: 10pt;
    width: 100%;
    position: fixed;
}
#statusbar a { color: #ffaa3e; }
#statusbar a:hover { color: #fadd2d; }
.line { background-color: #090c19;  }
.line:hover { background-color: #222946; }
a.menuitem { color: #eeeeee; }
a.menuitem:hover { color: #ff00ff; }
a.menutext { color: #c0c0c0; }
a.menutext:hover { color: #ff00ff; }
