<connection
	name="VOID"
	address="bbs.kyau.net"
	port="23"
	socket_server_port="2843"
	info_graphic="/img/welcome.png"
	default_font="80x25"
	columns="80"
	lines="25"
/>

<!--
Optional attributes:
info_graphic - URL of JPG, PNG, or GIF (eg. images/info.png)
default_font - 80x25, 80x50, Pot Noodle, or Topaz
-->
